@charset "UTF-8";

@font-face {
    font-family: Cordelina;
    src: url(fonts/cordelina.otf) format(opentype);
}

@font-face {
    font-family: Xilosa;
    src: url(fonts/xilosa_.ttf) format(truetype);
}

:root {
    --fonte1: Verdana, Tahoma, sans-serif;
    --fonte2: Cordelina, Arial, sans-serif;
    --fonte3: Xilosa, Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100%;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    
}

header > h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 4em;
    font-weight: lighter;
}

header > p {
    font-family: var(--fonte3);
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 7vh 7vh 7vh 7vh;
    line-height: 1.6em;
}

section > pre {
    font-family: var(--fonte3);
    white-space: pre-line;  
    font-size: 1.4em;
}

section.normal {
    background-color: #F3E3C5;
    color: black;
}

section.imagem {
    background-color: #F3E3C5;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.699);
    
    background-image: url(assets/teste.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > pre {
    display: inline-block;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.650);
    text-shadow: 1px 1px 0px black;
    border-radius: 3px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}